/*FUENTES*/
@font-face{
	font-family: 'Arsenal-Bold';
	src: url("../fonts/Arsenal-Bold.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Arsenal-Italic';
	src: url("../fonts/Arsenal-Italic.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Arsenal-Regular';
	src: url("../fonts/Arsenal-Regular.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Bold';
	src: url("../fonts/Lato-Bold.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Light';
	src: url("../fonts/Lato-Light.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Regular';
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Thin';
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight:normal;
}

@media (min-width: 1600px){
	.container{width:1600px;}
}

/* HEADER */
h3,h4,p,a{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14pt;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.navbar-inverse{
	background-color: rgba(255, 255, 255, 1);
    border:none;
    border-radius: 0px;
	border-bottom: 4px solid #ECEAA5;
	box-shadow: 5px 5px 15px #ddd;
	padding-bottom: 13px;
	padding-top: 13px;
	z-index:1010;
}

@media screen and (max-width: 767px) {
	.navbar-inverse{
		background-color: rgba(255, 255, 255, 1);
	    border:none;
	    border-radius: 0px;
		border-bottom:5px solid #ECEAA5;
		box-shadow: none;
		padding-bottom: 10px;
		padding-top: 10px;
		z-index:1010;
	}
}

.navbar-inverse .navbar-nav> li{
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0px 0px 0px;
}

@media screen and (max-width: 1599px) {
	.navbar-inverse .navbar-nav> li{
	    text-align: center;
	    text-transform: uppercase;
	    padding: 8px 0px 0px 0px;
	}
}

@media screen and (max-width: 1199px) {
	.navbar-inverse .navbar-nav> li{
	    text-align: center;
	    text-transform: uppercase;
	    padding: 0px 0px 0px 0px;
	}
}

@media screen and (max-width: 991px) {
	.navbar-inverse .navbar-nav> li{
	    text-align: center;
	    text-transform: uppercase;
	    padding: 0px 0px 5px 0px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-inverse .navbar-nav> li{
	    text-align: center;
	    text-transform: uppercase;
	    padding: 7px 0px 7px 0px;
	}
}

.navbar-inverse .navbar-nav>li>a{
	color: #919191;
	padding: 11px 0px 10px 0px;
	margin: 0px 20px 0px 20px;
}

.navbar-inverse .navbar-nav>li>a:focus{
	color: #919191;
}

.navbar-inverse .navbar-nav>li>a:hover{
	border-bottom: 4px solid #ccb16d;
	color: #152531;
}

@media screen and (max-width: 1599px) {
	.navbar-inverse .navbar-nav>li>a{
		color: #919191;
		padding: 11px 0px 10px 0px;
		margin: 0px 10px 0px 10px;
		font-size: 14pt;
	}
}

@media screen and (max-width: 1199px) {
	.navbar-inverse .navbar-nav>li>a{
		color: #919191;
		padding: 8px 0px 10px 0px;
		margin: 0px 5px 0px 5px;
		font-size: 13pt;
	}
}

@media screen and (max-width: 991px) {
	.navbar-inverse .navbar-nav>li>a{
		color: #919191;
		padding: 5px 0px 5px 0px;
		margin: 0px 5px 0px 5px;
		font-size: 10pt;
	}
}

@media screen and (max-width: 767px) {
	.navbar-inverse .navbar-nav>li>a{
		color: #919191;
		padding: 5px 0px 10px 0px;
		margin: 0px 5px 0px 5px;
		font-size: 13pt;
	}
}

.navbar-inverse .navbar-nav>li>.nodo_contacto{
	border: 1px solid #ccb16d;
	color: #ccb16d;
	padding: 10px 15px 10px 15px;
	margin: 0px 20px 0px 20px;
}

.navbar-inverse .navbar-nav>li>.nodo_contacto:hover{
	border: 1px solid #ccb16d;
	padding: 10px 15px 10px 15px;
	background:#ccb16d;
	color: #152531;
}

@media screen and (max-width: 1599px) {
	.navbar-inverse .navbar-nav>li>.nodo_contacto{
		border: 1px solid #ccb16d;
		color: #ccb16d;
		padding: 10px 15px 10px 15px;
		margin: 0px 10px 0px 10px;
	}
}

@media screen and (max-width: 1199px) {
	.navbar-inverse .navbar-nav>li>.nodo_contacto{
		border: 1px solid #ccb16d;
		color: #ccb16d;
		padding: 7px 15px 7px 15px;
		margin: 0px 5px 0px 5px;
	}
}

@media screen and (max-width: 991px) {
	.navbar-inverse .navbar-nav>li>.nodo_contacto{
		border: 1px solid #ccb16d;
		color: #ccb16d;
		padding: 5px 10px 5px 10px;
		margin: 0px 5px 0px 5px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-inverse .navbar-nav>li>.nodo_contacto{
		border: 1px solid #ccb16d;
		color: #ccb16d;
		padding: 15px 10px 15px 10px;
		margin: 0px 5px 0px 5px;
	}
}
.navbar{
	margin-bottom: 0px;
}

.navbar-collapse{
	background-color: white;
	float:right;
}

.navbar-inverse .navbar-collapse{
	border:none;
}

button.navbar-toggle{
	background-color: white;
	border:none;
	border-left: none;
	margin:0px 0px 0px 0px;
	min-height: 45px;
	min-width: 45px;
	padding: 0px;
}

@media screen and (max-width: 767px){
	.navbar.navbar-inverse {
	    padding-bottom: 5px;
	    padding-top: 5px;
	    height: 60px;
	}
}

.logo{
	margin-top:0px;
	width:100%;
}

@media screen and (max-width: 767px){
	.logo{
		margin-top: 2px;
		width:180px;
	}
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar{
	border-radius: 3px;
	background-color: #C1A66D;
	margin:6px;
	min-height: 4px;
	min-width: 30px;
}

.container>.navbar-collapse{
	margin-right:0px;
}

.container>.navbar-header{
	margin-right: 0px;
	padding-right: 0px;
}
/*SECCIONES*/
.seccion_terminos{
	margin-top: 80px;
	background-color: white;
	padding: 90px 0px 90px 0px;
}
.seccion_terminos_popup{
	background-color: white;
}



.seccion_07{
	border-top: 4px solid #B9A570;
    background-color: #000611;
    width: 100%;
    padding: 25px 0px 25px 0px;
}
@media screen and (max-width: 767px) {
	.seccion_07{
		border-top: none;
	    padding: 30px 0px 30px 0px;
	}
}

/*ESTILOS TX TERMINOS*/
.tx_lato_regular_12_gris{
	color:#606060;
	font-family: "Lato-Regular", sans-serif;
	font-size: 12pt;
	text-align: justify;
}
.tx_lato_bold_15_gris{
	color:#606060;
	font-family: "Lato-Bold", sans-serif;
	font-size: 15pt;
}
.tx_lato_bold_18_gris{
	color:#606060;
	font-family: "Lato-Bold", sans-serif;
	font-size: 18pt;
}



.texto_arsenal_regular_15_dorado{
	color:#ccb16d;
	font-family: 'Arsenal-Regular', sans-serif;
	font-size: 14pt;
	float: left;
}

@media screen and (max-width: 991px) {
	.texto_arsenal_regular_15_dorado{
		color:#ccb16d;
		font-family: 'Arsenal-Regular', sans-serif;
		font-size: 12pt;
		float: right;
	}
}

.constructora-alianza{
	margin:0px 0px 0px 15px;
}

i.iconos_redes{
	color: #B9A570;
	font-size: 25pt;
	margin:20px 15px 0px 15px;
	float: right;
}

i.iconos_redes:hover{
	color: white;
	text-decoration: none;
}

i.iconos_redes_xs{
	color: #B9A570;
	font-size: 25pt;
	margin:20px 20px 0px 20px;
}

i.iconos_redes_xs:hover{
	color: white;
	text-decoration: none;
}

.centrado_horizontal_iconos{
	text-align: center;
}

.texto_arsenal_regular_11_blanco{
	color:white;
	font-family: 'Arsenal-Regular', sans-serif;
	font-size: 10pt;
	text-align: justify;
	margin-top:25px;
}

.texto_arsenal_regular_11_blanco_responsive{
	color:#FFFFFF;
	font-family: 'Arsenal-Regular', sans-serif;
	font-size: 7pt;
	text-align: left;
	opacity:0.5;
}


/*ESTILOS IMAGENES*/

@keyframes next_index_css{
	0%{
		background-position: 100%;
		opacity: 1;
	}
	50%{
		background-position: 0%;
		opacity: 1;
	}
	100%{
		background-position: 100%;
		opacity: 1;
	}
}

.btn_terminos_volver{
	color:#00202E;
	font-size: 15pt;
	background: linear-gradient(90deg, #bd9242 0%, #eceac2 50%, #bd9242 100%);
	background-size: 200%;
	text-align: center;
	width: 220px;
	margin:0 auto;
	padding:10px 5px 10px 5px;
	border:1px solid transparent;
	animation-name: next_index_css;
	animation-duration:2.3s;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
}

.btn_terminos_volver:hover{
	color:#00202E;
	background:white;
	padding:10px 5px 10px 5px;
	border:1px solid #00202E;
}

.estilo_enlace_terminos:hover{
	text-decoration: none;
}
